$ff-inter: 'Inter', sans-serif;;
$ff-lora: 'Lora', serif;
$ff-inconsolata: 'Inconsolata', monospace;

$fs-body-s: 15px;
$fs-body-m: 18px;
$fs-nav-s: 14px;
$fs-nav-m: 18px;
$fs-input-s: 16px;
$fs-input-m: 20px;
$fs-heading-s: 32px;
$fs-heading-m: 64px;
$fs-subheading-s: 18px;
$fs-subheading-m: 24px;
$fs-smallheading-s: 16px;
$fs-smallheading-m: 20px;
$fs-source-s: 14px;

$lh-body-s: 24px;
$lh-heading-s: 29px;
$lh-heading-m: 77px;
$lh-subheading-s: 24px;
$lh-subheading-m: 29px;
$lh-smallheading-s: 19px;
$lh-smallheading-m: 24px;
$lh-source-s: 18px;

$fw-regular: 400;
$fw-bold: 700;

$clr-100: #FFFFFF;
$clr-200: #F4F4F4;
$clr-300: #E9E9E9;
$clr-400: #757575;
$clr-500: #3A3A3A;
$clr-600: #2D2D2D;
$clr-700: #1F1F1F;
$clr-800: #050505;

$clr-red: #FF5252;
$clr-purple: #A445ED;

$tablet: 768px;
